In [669]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [670]:
df=pd.read_csv("TRAIN.csv")

In [671]:
df.head()

,id,perc_premium_paid_by_cash_credit,age_in_days,Income,Count_3-6_months_late,Count_6-12_months_late,Count_more_than_12_months_late,application_underwriting_score,no_of_premiums_paid,sourcing_channel,residence_area_type,target
0,110936,0.429,12058,355060,0.0,0.0,0.0,99.02,13,C,Urban,1
1,41492,0.010,21546,315150,0.0,0.0,0.0,99.89,21,A,Urban,1
2,31300,0.917,17531,84140,2.0,3.0,1.0,98.69,7,C,Rural,0
3,19415,0.049,15341,250510,0.0,0.0,0.0,99.57,9,A,Urban,1
4,99379,0.052,31400,198680,0.0,0.0,0.0,99.87,12,B,Urban,1

In [672]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79853 entries, 0 to 79852
Data columns (total 12 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   id                                79853 non-null  int64
 1   perc_premium_paid_by_cash_credit  79853 non-null  float64
 2   age_in_days                       79853 non-null  int64
 3   Income                            79853 non-null  int64
 4   Count_3-6_months_late             79756 non-null  float64
 5   Count_6-12_months_late            79756 non-null  float64
 6   Count_more_than_12_months_late    79756 non-null  float64
 7   application_underwriting_score    76879 non-null  float64
 8   no_of_premiums_paid               79853 non-null  int64
 9   sourcing_channel                  79853 non-null  object
 10  residence_area_type               79853 non-null  object
 11  target                            79853 non-null  int64
dtypes: float64(5), int64(5), object(2)
memory usage: 7.3+ MB

In [673]:
test=pd.read_csv("TEST.csv")

In [674]:
test.head()

,id,perc_premium_paid_by_cash_credit,age_in_days,Income,Count_3-6_months_late,Count_6-12_months_late,Count_more_than_12_months_late,application_underwriting_score,no_of_premiums_paid,sourcing_channel,residence_area_type
0,649,0.001,27384,51150,0.0,0.0,0.0,99.89,7,A,Rural
1,81136,0.124,23735,285140,0.0,0.0,0.0,98.93,19,A,Urban
2,70762,1.000,17170,186030,0.0,0.0,0.0,NaN,2,B,Urban
3,53935,0.198,16068,123540,0.0,0.0,0.0,99.00,11,B,Rural
4,15476,0.041,10591,200020,1.0,0.0,0.0,99.17,14,A,Rural

In [675]:
df.isnull().sum()

id                                     0
perc_premium_paid_by_cash_credit       0
age_in_days                            0
Income                                 0
Count_3-6_months_late                 97
Count_6-12_months_late                97
Count_more_than_12_months_late        97
application_underwriting_score      2974
no_of_premiums_paid                    0
sourcing_channel                       0
residence_area_type                    0
target                                 0
dtype: int64

In [676]:
test.isna().sum()

id                                     0
perc_premium_paid_by_cash_credit       0
age_in_days                            0
Income                                 0
Count_3-6_months_late                 31
Count_6-12_months_late                31
Count_more_than_12_months_late        31
application_underwriting_score      1323
no_of_premiums_paid                    0
sourcing_channel                       0
residence_area_type                    0
dtype: int64

In [677]:
df=pd.get_dummies(df)

In [678]:
df[['Count_3-6_months_late','Count_6-12_months_late','Count_more_than_12_months_late']] = df[['Count_3-6_months_late','Count_6-12_months_late','Count_more_than_12_months_late']].fillna(0.0)

In [679]:
temp = df.application_underwriting_score
df.application_underwriting_score = temp.fillna(temp.mean())

In [680]:
df.head().T

,0,1,2,3,4
id,110936.000,41492.00,31300.000,19415.000,99379.000
perc_premium_paid_by_cash_credit,0.429,0.01,0.917,0.049,0.052
age_in_days,12058.000,21546.00,17531.000,15341.000,31400.000
Income,355060.000,315150.00,84140.000,250510.000,198680.000
Count_3-6_months_late,0.000,0.00,2.000,0.000,0.000
Count_6-12_months_late,0.000,0.00,3.000,0.000,0.000
Count_more_than_12_months_late,0.000,0.00,1.000,0.000,0.000
application_underwriting_score,99.020,99.89,98.690,99.570,99.870
no_of_premiums_paid,13.000,21.00,7.000,9.000,12.000
target,1.000,1.00,0.000,1.000,1.000
sourcing_channel_A,0.000,1.00,0.000,1.000,0.000
sourcing_channel_B,0.000,0.00,0.000,0.000,1.000
sourcing_channel_C,1.000,0.00,1.000,0.000,0.000
sourcing_channel_D,0.000,0.00,0.000,0.000,0.000
sourcing_channel_E,0.000,0.00,0.000,0.000,0.000
residence_area_type_Rural,0.000,0.00,1.000,0.000,0.000
residence_area_type_Urban,1.000,1.00,0.000,1.000,1.000

In [681]:
test=pd.get_dummies(test)

In [682]:
test[['Count_3-6_months_late','Count_6-12_months_late','Count_more_than_12_months_late']] = test[['Count_3-6_months_late','Count_6-12_months_late','Count_more_than_12_months_late']].fillna(0.0)
temp = test.application_underwriting_score
test.application_underwriting_score = temp.fillna(temp.mean())

In [683]:
test.head().T

,0,1,2,3,4
id,649.000,81136.000,70762.000000,53935.000,15476.000
perc_premium_paid_by_cash_credit,0.001,0.124,1.000000,0.198,0.041
age_in_days,27384.000,23735.000,17170.000000,16068.000,10591.000
Income,51150.000,285140.000,186030.000000,123540.000,200020.000
Count_3-6_months_late,0.000,0.000,0.000000,0.000,1.000
Count_6-12_months_late,0.000,0.000,0.000000,0.000,0.000
Count_more_than_12_months_late,0.000,0.000,0.000000,0.000,0.000
application_underwriting_score,99.890,98.930,99.061898,99.000,99.170
no_of_premiums_paid,7.000,19.000,2.000000,11.000,14.000
sourcing_channel_A,1.000,1.000,0.000000,0.000,1.000
sourcing_channel_B,0.000,0.000,1.000000,1.000,0.000
sourcing_channel_C,0.000,0.000,0.000000,0.000,0.000
sourcing_channel_D,0.000,0.000,0.000000,0.000,0.000
sourcing_channel_E,0.000,0.000,0.000000,0.000,0.000
residence_area_type_Rural,1.000,0.000,0.000000,1.000,1.000
residence_area_type_Urban,0.000,1.000,1.000000,0.000,0.000

In [684]:
df.shape

(79853, 17)

In [685]:
test.shape

(34224, 16)

In [686]:
train=df[:34224]
Test=df[34225:]

In [687]:
X_train=train.drop('target',axis=1)
y_train=train['target']

In [688]:
X_test=Test.drop('target',axis=1)
true_p=Test['target']

In [689]:
from sklearn.linear_model import LogisticRegression
logreg=LogisticRegression(C=0.001, penalty='l2')

In [690]:
logreg.fit(X_train,y_train)

LogisticRegression(C=0.001, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [691]:
pred=logreg.predict(X_test)
pred

array([1, 1, 1, ..., 1, 1, 1], dtype=int64)

In [707]:
pd.Series(pred).value_counts()

1    45628
dtype: int64

In [692]:
logreg.score(X_train,y_train)

0.9350455820476858

In [693]:
logreg.score(X_test,true_p)

0.9391820811782239

In [700]:
pred1=logreg.predict(test)
pred1

array([1, 1, 1, ..., 1, 1, 1], dtype=int64)

In [704]:
pd.Series(pred1).value_counts()

1    34224
dtype: int64

In [706]:
prediction=pd.DataFrame(pred1,columns=['target']).to_csv('new1.csv')